Django==1.8.4
MySQL-python==1.2.5
PyJWT==1.4.0
Unipath==1.1
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-model-utils==2.3.1
gunicorn==19.4.3
oauthlib==1.0.3
psycopg2==2.6.1
python-openid==2.2.5
requests==2.8.1
requests-oauthlib==0.5.0
six==1.10.0
static3==0.6.1
wsgiref==0.1.2
