{% extends 'base.html' %}
{% load static from staticfiles %}
{%block manuals%}class="selected"{%endblock%}
{%block body%}
<h2>Manuales</h2>

<br><br><br>
<center>


  <table width="620">
    <tr>
      <td valign="top">
        <p>Manuales b&aacute;sicos de uso de los clusters:
          <p><a href="clup_manual.php" class="look">Ver Gu&iacute;a B&aacute;sica Clup</a>
            <p><a href="baktum_manual.php" class="look">Ver Gu&iacute;a B&aacute;sica Baktum</a>
              <p><a href="tutorial_colas.php" class="look">Tutorial para colas baktum y clup</a>
                <p><a href="mingus_manual.php" class="look">Ver Gu&iacute;a B&aacute;sica Mingus</a>
                  <br><br><a href="mkl.php" class="look">Ver Documentaci&oacute;n completa<br> de la Math Kernel Library (MKL)</a>
                  <br><br><a href="cernlib.php" class="look">Informaci&oacute;n sobre biblioteca CERNLIB</a>

                </td>

                <td valign="top">
                  <br>IMSL:
                  <p><a href="docs/Math.pdf" class="look">IMSL MATH LIBRARY Gu&iacute;a del usuario.</a>
                    <p><a href="docs/SFUN.pdf" class="look">IMSL MATH LIBRARY<br> Gu&iacute;a del usuario para funciones especiales.</a>
                      <p><a href="docs/Stat.pdf" class="look">IMSL STAT LIBRARY<br> Gu&iacute;a del usuario para funciones estad&iacute;sticas.</a>
                      </td>
                    </tr>
                  </table>


                  <br><br><br><center><img src="{% static "img/tutorial.jpg"%}"></center>


                  {%endblock%}
